<header>
  <ul class="nav">
    <li>
      <a href="/">home<small>&nbsp;</small></a>
    </li>
    <li>
      <a href="/future-of-alloy">future of alloy<small>&nbsp;</small></a>
    </li>
    <li>
      <a href="/project-setup">project setup<small>&nbsp;</small></a>
    </li>
    {# <li>
      <a href="/project-setup">project setup<small>&nbsp;</small></a>
    </li> #}
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
